h1 {
    color: darkblue;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    text-align: center;
  }

  div {
  width: 200px;
  padding: 20px;
  border: 2px solid black;
  margin: 30px;
}

.red {
    background-color: red;
    color: white;
  }

  
